<!doctype html>
<html lang="en">
  <module href="/components/head.html" locals='{"title": "Privacy Policy"}'></module>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-accent sticky-top">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Get help</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    </nav>

    <div class="container-fluid" id="page-container">
      <h1>Privacy Policy</h1>
    </div>

    <module href="/components/footer.html"></module>

    <script src="bundle.js"></script>
  </body>
</html>
