<!doctype html>
<html lang="en">
  <head>
    <module href="/components/head.html" locals='{"title": "Mind the 5"}'></module>
    <meta name="description" content="5 simple steps to support mental health. Take the pledge to #mindthe5">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-accent sticky-top">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Get help</a>
        <span class="nav-item nav-link active">Mind the 5</span>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    </nav>
    <div class="container-fluid">
      <h1>Mind the 5</h1>
      <p id="subtitle">Steps to support mental health</p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/eat-sleep-exercise-green.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">1. Take care of <b class="text-accent">BODY</b></h2>
              <p class="card-text">Eat a balanced diet.</p>
              <p class="card-text">Exercise regularly.</p>
              <p class="card-text">Try to get uninterrupted sleep on a consistent schedule (8-10 hours for teens, 7-9 hours for adults).</p>
              <p class="card-text">Go outside.</p>
              <p class="card-text">Take breaks.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/scales-blue.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">2. <b class="text-primary">YOU</b> first</h2>
              <p class="card-text">Take care of yourself before helping others.</p>
              <p class="card-text">Exercise kindness and compassion to yourself.</p>
              <p class="card-text">Create structure and personal boundaries.</p>
              <p class="card-text">Set aside time to do something you enjoy and to take breaks.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/heart-green.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">3. Recognize and accept <b class="text-accent">FEELINGS</b></h2>
              <p class="card-text">Take a moment to name what you feel and sit with it for a couple minutes.</p>
              <p class="card-text">Accept how you feel and that you may not have control over how you feel.</p>
              <p class="card-text">Turn off your screen while you do this exercise.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/group-blue.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">4. <b class="text-primary">CONNECT</b> with others</h2>
              <p class="card-text">We need each other to survive and thrive.</p>
              <p class="card-text">Talk with someone. Share how you’re honestly feeling.</p>
              <p class="card-text">Check in on a friend. Listen. Look out for each other.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/hands-green.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">5. Ask for <b class="text-accent">HELP</b></h2>
              <p class="card-text">Asking for help is brave and responsible. We all need help from each other.</p>
              <p class="card-text">Click the button below to talk with someone. You will choose from a list of resources that are available 24/7.</p>
              <p class="card-text">Your experiences are real and important. Each of us are uniquely affected by our experiences.</p>
              <p class="card-text">It’s always better to ask for help sooner rather than later.</p>
              <a href="/" role="button" class="btn btn-primary">Get help</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>
